# Untracked files from git status
ZWave_SoC_Keypad_Solution_cmake/build/
artifacts/
bootloader-storage-internal-single-zwave-ota/artifacts/
bootloader-storage-internal-single-zwave-ota/cmake_gcc/build/
zwave_soc_keypad/artifacts/
zwave_soc_keypad/cmake_gcc/build/
